<h1>Clientes</h1>
	
<% @clientes.each do |cliente| %>
<div>
  <p>Nombre: <%= cliente.nombre %></p>
  <p><%= link_to "Detalles", cliente_path(cliente) %>
     <%= link_to 'Editar', edit_cliente_path(cliente) %></p>
  <p></p>
</div>
<% end %>

<%= link_to 'Nuevo Cliente', "clientes/new" %>
