<p>maquinas</p>
<% @maquinas.each do |maquina| %>
<div>
  <p>num_serie: <%= maquina.num_serie %></p>
  <%= link_to "Detalles", maquina_path(maquina) %>
  <%= link_to "Editar", editar_maquina_path(maquina) %>
  <p>---------------------------</p>
</div>
<% end %>

<%= link_to 'Nueva Maquina', "maquinas/new" %>
